<!doctype html>
<html>
<head>
  <title>Edit Expense</title>
</head>
<body>
  <h1>Edit expense {{ r['id'] }}</h1>

  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class="flash-messages">
        {% for message in messages %}
          <li class="flash error">{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}

<form method="post">
  <label>Amount:</label>
<input type="number" step="1" name="amount" value="{{ r['amount'] }}" required><br>

<label>Category:</label>
  <select name="category" required>
    <option value="">-- Select category --</option>
    {% for c in categories %}
      <option value="{{ c['name'] }}"
        {% if c['name'] == r['category'] %}selected{% endif %}>
        {{ c['name'] }}
      </option>
    {% endfor %}
  </select><br>
  

  <label>Date:</label>
  <input type="date" name="date" value="{{ r['date'] }}" required><br>

  <label>Note:</label>
  <input type="text" name="note" value="{{ r['note'] or '' }}"><br>

  <button type="submit">Save</button>
</form>



<p><a href="{{ url_for('list_expenses') }}">Back</a></p>
</body>
</html>